{% extends 'padres/base.html' %}

    
{% block mi_contenido %}


    

        <!-- Masthead-->
<header class="masthead">
     <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h3 class="mb-5">
                        Hola mi nombre es juan, tengo 30 años, soy de avellaneda, buenos aires.
                            hace 3 años hice el curso de html(no me acuerdo de nada) por coderhouse,
                        y me anote en python y seguir con c# para tratar de conseguir empleo y cambiar de rumbo laboral.
                            actulmente trabajo en la empresa telecentro que brinda servicio de internet y cable y me especializo como tecnico de reparaciones.
                            la idea es cambiar al area de programacion dentro de la misma empresa de ser posible y de no poder lograrlo, irme a otra empresa
                        a dedicarme a este nuevo mundo para mi, esta es mi pagina de proyecto de coder house actualmente ya empeze el curso de C#
                        pero la idea es seguir puliendo detalles para hacer un portafolio del blog de python.
                        
                    </h3>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock mi_contenido %}



