{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Ver motos</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<a class="navbar-brand" href={% url 'crear_moto' %}>Crear Moto</a>
<p>Listado de Motos:</p
<p>
    {% if motos %}

        {% for moto in motos %}
            <li>
                {{moto.marca}}{{moto.modelo}}{{moto.anio}}{{moto.portada}}{{moto.tipo}}{{moto.vendedor}}
                <a href={% url 'editar_moto' moto.id %}>Editar</a>
                <a href={% url 'eliminar_moto' moto.id %}>Eliminar</a>
            </li>
        {% endfor %}

    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
</p>

{% endblock mi_contenido %}